<?xml version="1.0" encoding="utf-8"?>
<!--
  IIS deployment ke liye. 'dotnet publish' isme aspNetCore handler/processPath
  bhar deta hain. Yahan zaroori cheez: Windows Authentication ON, Anonymous OFF.
  (IIS pe 'Windows Authentication' feature install hona chahiye + section unlocked.)
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CMES.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
          <windowsAuthentication enabled="true" />
        </authentication>
      </security>
    </system.webServer>
  </location>
</configuration>